<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
    <ion-title>Turmas {{disciplina}} 2026.1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-list>
        @for (turma of turmas; track turma.codigo) {
        <ion-item>
          <ion-label>
            <h3>Disciplina</h3>
            <p>Código: {{turma.disciplina.codigo}}</p>
            <p>Nome: {{turma.disciplina.nome}}</p>
            <h3>Turma</h3>
            <p>Vagas ofertadas: {{turma.vagasOfertadas}}</p>
            <p>Vagas disponíveis: {{turma.vagasOfertadas - turma.vagasOcupadas}}</p>
            <p>Código: {{turma.codigo}}</p>
            <p>Horário</p>
            @for (horario of turma.horario; track horario.dia) {
              <p>{{horario.dia}}: {{horario.horaInicio}} &mdash; {{horario.horaFim}}</p>
            }
          </ion-label>
          @if (!verificarMatriculaConfirmada()) {
            <ion-button (click)="confirmarInclusaoTurma(turma)">Adicionar</ion-button>
          }  
        </ion-item>
        }      
      </ion-list>  
</ion-content>
