<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Matrícula 2026.1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  @if( matriculas.length > 0) {
  <ion-list #scheduleList>
      @for (matricula of matriculas; track matricula.id) {
        <ion-item routerLink="/app/tabs/schedule/session/{{matricula.id}}">
          <ion-label>
            <h3>{{matricula.turma.disciplina.codigo}} - {{matricula.turma.disciplina.nome}}</h3>
            <h3>{{matricula.turma.codigo}}</h3>
            @for (horario of matricula.turma.horario; track horario.dia) {
            <p>{{horario.dia}}: {{horario.horaInicio}} &mdash; {{horario.horaFim}}</p>
            }  
            <p>
              {{matricula.status}}
            </p>
          </ion-label>
        </ion-item>

      }
  </ion-list>
  }
  @if (!matriculaConfirmada) {
    <ion-button (click)="confirmarMatricula()" disabled="{{verificarMatricula()}}">Confirmar</ion-button>
  }
</ion-content>
