<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="defaultHref"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (matricula) {
      <ion-list>
        <ion-item>
          <ion-label>
            <h3>Disciplina</h3>
            <p>Código: {{matricula.turma.disciplina.codigo}}</p>
            <p>Nome: {{matricula.turma.disciplina.nome}}</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Turma</h3>
            <p>Código: {{matricula.turma.codigo}}</p>
            <p>Horário</p>
            @for (horario of matricula.turma.horario; track horario.dia) {
              <p>{{horario.dia}}: {{horario.horaInicio}} &mdash; {{horario.horaFim}}</p>
            }
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Matrícula</h3>
            <p>Status: {{matricula.status}}</p>
            @if( matricula.prioridade ) {
              <p>Prioridade: {{matricula.prioridade}}</p>
            }
          </ion-label>
        </ion-item>
      </ion-list>  
  }    
  @if (!verificarMatriculaConfirmada()) {
  <ion-list>
    <ion-item (click)="alterarStatus('Retirado')" button disabled="{{matricula?.status == 'Retirado' || matricula?.status == 'Pedido'}}">
      <ion-label color="danger">Retirar</ion-label>
    </ion-item>
    <ion-item (click)="alterarStatus('Confirmado')" button  disabled="{{matricula?.status == 'Confirmado'  || matricula?.status == 'Pedido'}}">
      <ion-label color="primary">Confirmar</ion-label>
    </ion-item>
    <ion-item (click)="excluir()" button  disabled="{{matricula?.status != 'Pedido'}}">
      <ion-label color="primary">Excluir</ion-label>
    </ion-item>
  </ion-list>
  }
</ion-content>
